*{box-sizing:border-box;}
body{
	padding:0px;
	margin:0px;
	font-family:arial;
	overflow:hidden;}
.container{
	width:100vw;
	height:100vh;}
.header{
	width:100vw;
	height:10vh;
	display:flex;
	justify-content:space-around;
	align-items:center;
	border:1px solid rgb(220,220,220);}